@page "/"

<PageTitle>DnM e+ Secret Codes</PageTitle>

<h1>Dōbutsu no Mori e+ Secret Codes</h1>

This app is a port of <a href="https://github.com/Cuyler36">Cuyler36</a>'s
<a href="https://github.com/Cuyler36/Animal-Forest-e-Password-Library">Animal Forest e Password Library</a>
from WPF to Blazor WebAssembly.