@using DnmEplusPassword.Web.ComponentModels

<div class="col">
    <div class="form-group">
        <label for="itemIdInput" class="form-label">Item ID</label>
        <div class="row">
            <div class="col">
                <InputText @bind-Value="Item.Id" id="itemIdInput" class="form-control" maxlength="4" />
                <ValidationMessage For="@(() => Item.Id)" />
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" @onclick="ViewCatalog">View Catalog</button>
                <ModalDialog @ref="ModalCatalog" Title="Item Catalog">
                    <ItemCatalog @bind-Item="Item" />
                </ModalDialog>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public required Item Item { get; set; }

    [CascadingParameter]
    public required EditContext EditContext { get; set; }

    private ModalDialog? ModalCatalog;
    private void ViewCatalog() => ModalCatalog!.Open();
}
