@using DnmEplusPassword.Web.Models

<div class="col form-group">
    <label for="rowAcreInput" class="form-label">Acre Row</label>
    <InputSelect @bind-Value="PlacementAcre.Row" id="rowAcreInput" class="form-select">
        @foreach (var row in PlacementAcre.ValidRows)
        {
            <option value="@row">@row</option>
        }
    </InputSelect>
</div>
<div class="col form-group">
    <label for="colAcreInput" class="form-label">Acre Column</label>
    <InputSelect @bind-Value="PlacementAcre.Col" id="colAcreInput" class="form-select">
        @foreach (var col in PlacementAcre.ValidCols)
        {
            <option value="@col">@col</option>
        }
    </InputSelect>
</div>

@code {
    [Parameter]
    public required PlacementAcre PlacementAcre { get; set; }
}
