@using DnmEplusPassword.Web.Models

<div class="row">
    <label for="priceInput" class="col col-form-label">Price</label>
    <div class="col">
        <InputNumber @bind-Value="Price.Value" id="priceInput" class="form-control" min="1" max="999999" step="100" />
    </div>
    <ValidationMessage For="@(() => Price.Value)" />
</div>

@code {
    [Parameter]
    public required Price Price { get; set; }

    [CascadingParameter]
    public required EditContext EditContext { get; set; }
}
