@using DnmEplusPassword.Web.Models

<div class="col form-group">
    <label for="decorationInput" class="form-label">Decoration</label>
    <InputSelect @bind-Value="Decoration.Id" id="decorationInput" class="form-select">
        @foreach (var (key, value) in Decoration.ValidDecorations)
        {
            <option value="@key">@value</option>
        }
    </InputSelect>
</div>

@code {
    [Parameter]
    public required Decoration Decoration { get; set; }
}
