@using DnmEplusPassword.Web.Models

<div class="col form-group">
    <label for="townNameInput" class="form-label">Recipient's Town Name</label>
    <InputText @bind-Value="Recipient.TownName" id="townNameInput" class="form-control" maxlength="6" />
    <ValidationMessage For="@(() => Recipient.TownName)" />
</div>
<div class="col form-group">
    <label for="recipientInput" class="form-label">Recipient's Name</label>
    <InputText @bind-Value="Recipient.Name" id="recipientInput" class="form-control" maxlength="6" />
    <ValidationMessage For="@(() => Recipient.Name)" />
</div>

@code {
    [Parameter]
    public required Recipient Recipient { get; set; }

    [CascadingParameter]
    public required EditContext EditContext { get; set; }
}
