@using DnmEplusPassword.Web.Models

<div class="col form-group">
    <label for="senderNameInput" class="form-label">Sender's Name</label>
    <InputText @bind-Value="Sender.Name" id="senderNameInput" class="form-control" maxlength="6" />
    <ValidationMessage For="@(() => Sender.Name)" />
</div>

@code {
    [Parameter]
    public required Sender Sender { get; set; }

    [CascadingParameter]
    public required EditContext EditContext { get; set; }
}
