@using DnmEplusPassword.Web.Models

<div class="row">
    <label for="itemIdInput" class="col col-form-label">Item ID</label>
    <div class="col">
        <InputText @bind-Value="Item.Id" id="itemIdInput" class="form-control" maxlength="4" />
    </div>
    <ValidationMessage For="@(() => Item.Id)" />
</div>

<div class="row">
    <div class="col" />
    <div class="col">
        <button type="button" class="btn btn-primary" @onclick="ViewCatalog">View Catalog</button>
        <ModalDialog @ref="ModalCatalog" Title="Item Catalog">
            <ItemCatalog />
        </ModalDialog>
    </div>
</div>

@code {
    [Parameter]
    public required Item Item { get; set; }

    [CascadingParameter]
    public required EditContext EditContext { get; set; }

    private ModalDialog? ModalCatalog;
    private void ViewCatalog() => ModalCatalog!.Open();
}
