@using DnmEplusPassword.Web.Models

<output class="password">
    <div class="password-line">@SecretCode.Line1</div>
    <div class="password-line">@SecretCode.Line2</div>
</output>

@code {
    [Parameter]
    public required SecretCode SecretCode { get; set; }
}
