@using DnmEplusPassword.Web.Models

<div class="password-label">
    <label for="outputPassword" class="form-label">Secret Code</label>
</div>
<output id="outputPassword" class="password">
    <div class="password-line">@SecretCode.Line1</div>
    <div class="password-line">@SecretCode.Line2</div>
</output>

@code {
    [Parameter]
    public required SecretCode SecretCode { get; set; }
}
