.password {
    width: fit-content;
    padding: 0.5rem;
    margin-top: 1rem;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

.password-line {
    font-size: larger;
}
